@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glow {
  from {
    box-shadow: 0 0 0px 0px #E7BA10;
  }
  to {
    box-shadow: 0 0 40px 10px #E7BA10;
  }
}

html, body, body > div {
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;
}

.glow {
  animation: glow 2s ease-in-out infinite alternate
}

.pfp-bells {
  background-color: #2789CC !important;
}

.pfp-cash {
  background-color: #3D6F42 !important;
}

.pfp-cyan {
  background-color: #CFFFEA !important;
}

.pfp-diamonds {
  background-color: #5E708D !important;
}

.pfp-gray {
  background-color: #F1F2FF !important;
}

.pfp-green {
  background-color: #86C599 !important;
}

.pfp-indigo {
  background-color: #CBDBFC !important;
}

.pfp-money {
  background-color: #43A459 !important;
}

.pfp-orange {
  background-color: #FCA570 !important;
}

.pfp-peach {
  background-color: #FDC9C9 !important;
}

.pfp-violet {
  background-color: #FAD6FF !important;
}

.pfp-yellow {
  background-color: #F8E398 !important;
}