@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pfp-bells {
    background-color: #2789CC !important;
  }
  
  .pfp-cash {
    background-color: #3D6F42 !important;
  }
  
  .pfp-cyan {
    background-color: #CFFFEA !important;
  }
  
  .pfp-diamonds {
    background-color: #5E708D !important;
  }
  
  .pfp-gray {
    background-color: #F1F2FF !important;
  }
  
  .pfp-green {
    background-color: #86C599 !important;
  }
  
  .pfp-indigo {
    background-color: #CBDBFC !important;
  }
  
  .pfp-money {
    background-color: #43A459 !important;
  }
  
  .pfp-orange {
    background-color: #FCA570 !important;
  }
  
  .pfp-peach {
    background-color: #FDC9C9 !important;
  }
  
  .pfp-violet {
    background-color: #FAD6FF !important;
  }
  
  .pfp-yellow {
    background-color: #F8E398 !important;
  }

  .btn-pixel {
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto 100%;
    color: #FFFFFF;
    display: inline-block;
    font-family: "Press Start 2P", "Courier New", Courier, monospace;
    font-size: 10px;
    margin: 0 10px;
    padding: 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
  }
  
  .btn-pixel:hover,
  .btn-pixel:active,
  .btn-pixel:visited {
    color: #FFFFFF;
    text-decoration: none;
  } 
  
  .btn-pixel.btn-pixel-lg {
    font-size: 13px;
    padding: 11px;
  }

  .btn-pixel.btn-pixel-lg::before {
    left: -12px;
  }
  
  .btn-pixel::before,
  .btn-pixel::after {
    background-repeat: no-repeat;
    background-position: center left;
    background-size: auto 100%;
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    width: 16px;
  }
  
  .btn-pixel::before {
    left: -7px;
    top: 0;
  }
  
  .btn-pixel::after {
    right: -13px;
    top: 0;
  }
  
  .btn-pixel-success {
    background-image: url(/images/button/btn-success-center.png);
  }
  .btn-pixel-success::before {
    background-image: url(/images/button/btn-success-left.png);
  }
  .btn-pixel-success::after {
    background-image: url(/images/button/btn-success-right.png);
  }
  
  .btn-pixel-warning {
    background-image: url(/images/button/btn-warning-center.png);
  }
  .btn-pixel-warning::before {
    background-image: url(/images/button/btn-warning-left.png);
  }
  .btn-pixel-warning::after {
    background-image: url(/images/button/btn-warning-right.png);
  }
  
  .btn-pixel-secondary {
    background-image: url(/images/button/btn-secondary-center.png);
  }
  .btn-pixel-secondary::before {
    background-image: url(/images/button/btn-secondary-left.png);
  }
  .btn-pixel-secondary::after {
    background-image: url(/images/button/btn-secondary-right.png);
  }

  .notification {
    bottom: 20px;
    color: #FFFFFF;
    font-size: 12px;
    left: 20px;
    position: fixed;
    right: 20px;
    z-index: 10000;
  }
  
  .notification div {
    border: 1px solid #222222;
    margin: auto;
    max-width: 375px;
    padding: 20px 30px;
  }
  
  .notification a {
    color: #FFFFFF;
    text-decoration: underline;
  }
  
  .notification div::before {
    display: inline-block;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    padding-right: 10px;
  }
  
  .notification.notification-info div {
    background-color: #004688;
  }
  
  .notification.notification-error div {
    background-color: #880000;
  }
  
  .notification.notification-error div::before {
    content: "\f057";
  }
  
  .notification.notification-success div {
    background-color: #008800;
  }
  
  .notification.notification-success div::before {
    content: "\f058";
  }

  .alert {
    padding: 20px 30px;
  }
  
  .alert::before {
    display: inline-block;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    padding-right: 10px;
  }
  
  .alert-solid {
    color: #FFFFFF;
  }
  
  .alert-solid a {
    color: #FFFFFF;
  }
  
  .alert-outline {
    border-style: solid;
    border-width: 1px;
  }
  
  .alert-outline a {
    color: #FFFFFF;
  }
  
  .alert-primary::before {
    content: "\f05a";
  }
  .alert-solid.alert-primary {
    background-color: #F9AF00;
  }
  .alert-outline.alert-primary {
    border-color: #F9AF00;
    color: #F9AF00;
  }
  
  .alert-secondary::before {
    content: "\f05a";
  }
  .alert-solid.alert-secondary {
    background-color: #FFFFFF;
  }
  .alert-outline.alert-secondary {
    border-color: #FFFFFF;
    color: #FFFFFF;
  }
  
  .alert-info::before {
    content: "\f05a";
  }
  .alert-solid.alert-info {
    background-color: #004688;
  }
  .alert-outline.alert-info {
    border-color: #004688;
    color: #004688;
  }
  
  .alert-error::before {
    content: "\f057";
  }
  .alert-solid.alert-error {
    background-color: #880000;
  }
  .alert-outline.alert-error {
    border-color: #880000;
    color: #880000;
  }
  
  .alert-success::before {
    content: "\f058";
  }
  .alert-solid.alert-success {
    background-color: #008800;
  }
  .alert-outline.alert-success {
    border-color: #008800;
    color: #008800;
  }
  
  .badge {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    color: #FFFFFF;
    font-size: 10px;
    overflow: hidden;
    padding: 5px 10px;
  }
  
  .badge-muted {
    background-color: #CDCDCD;
    border-color: #AAAAAA;
    color: #333333;
  }
  
  .badge-success {
    background-color: #058B00;
    border-color: #06A700;
  }
  
  .badge-warning {
    background-color: #DA9902;
    border-color: #B47E00;
  }
  
  .badge-info {
    background-color: #004688;
    border-color: #00396e;
  }
  
  .badge-error {
    border-color: #880000;
    background-color: #880000;
  }
}

html, body, body > div {
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;
}